// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $greendark;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}