$enable-gradients: true;

// Color system
$dark: #25432C;
$greylight: #efebf4;

$blue: #B8DFDA;
$yellow: #F3F4C7;
$pink: #F3C0B9;
$green: #BFDEC1;
$greendark: #25432C;

$primary: $pink;

// Create your own map
$custom-colors: (
  "primary":        $primary,
  "secondary":      $secondary,
  "success":        $success,
  "info":           $info,
  "warning":        $warning,
  "danger":         $danger,
  "light":          $light,
  "dark":           $dark,
  "greylight":      $greylight,
  "blue":           $blue,
  "yellow":         $yellow,
  "pink":           $pink,
  "green":          $green,
  "greendark":      $greendark,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Background colors
@each $key, $val in $custom-colors {
  .bg-#{$key} {
    background-color: #{$val} !important;
    color: color-contrast($val);
  }
}

// Text colors
@each $key, $val in $custom-colors {
  .text-#{$key} {
    color: #{$val} !important;
  }
}

// Gradient
//
// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
// scss-docs-start variable-gradient



// $gradient: linear-gradient(180deg, $greenlight 0%, $greendark 74.48%);
// $gradient-hover: linear-gradient(180deg, $greenlight 0%, $greendark 74.48%);

// scss-docs-end variable-gradient