$ease : cubic-bezier(0.16, 1, 0.3, 1);

.ml10 {
	position: relative;
	.text-wrapper {
		position: relative;
		display: inline-block;		
		.letter {
			display: inline-block;
			transform-origin: 0 0;
		}
	}
}
.anime-fadein {
	transform: translateX(-20px);
	opacity: 0;
}