.mod-accordion {

	&.bg-transparent,
	&.bg-white {
		.item {
			.heading {
				background: $greylight;
			}
		}
	}
	.nav-link.active {
		pointer-events: none;
	}
	.item {
		margin: 0 0 10px;

		.heading {
			display: block;
			padding: 10px 15px;
			border-radius: 2px;
			background: #fff;
			text-decoration: none;
			font-weight: 600;
			color: $dark;
			i.fa-minus {
				display: none;
			}

			&:hover {
				box-shadow: none;
				background: $primary;
				cursor: pointer;
			}

			&[aria-expanded="true"] {
				i.fa-minus {
					display: block;
					margin-top: 7px;
				}

				i.fa-plus {
					display: none;
				}
			}
		}

		.antwoord {
			padding: 10px 15px;
			a {
				&:hover {
					color: $pink;
					text-decoration: underline;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.mod-accordion {
		.heading {
			i {
				top: 12px;
			}
		}

	}
}