.pb-afbeelding {
	overflow: hidden;
	position: relative;
	padding: 100px 0;
	h2 {
		transform: rotate(-10deg);
	}
	.fill-space {
		opacity: .8;
	}
}

@include media-breakpoint-up(md) {
	.pb-afbeelding {
		padding: 140px 0;
	}
}

@include media-breakpoint-up(lg) {
	.pb-afbeelding {
		padding: 170px 0;
	}
}