@keyframes blur {
	0% {
		-webkit-filter: blur(30px);
		-moz-filter: blur(30px);
		-o-filter: blur(30px);
		-ms-filter: blur(30px);
	}

	100% {
		-webkit-filter: blur(0);
		-moz-filter: blur(0);
		-o-filter: blur(0);
		-ms-filter: blur(0);
	}
}

.loaded {
	.mod-banner {
		#thevideo {
			opacity: 0.3;
		}

		.bg {
			filter: blur(0);
		}

		.vimeo-wrapper {
			opacity: 0.7;
		}
	}
}

.loaded .mod-banner {
	img {
		opacity: 1;
		transform: translateY(0);
	}
}

.pb-banner {
	overflow: hidden;
	position: relative;
	min-height: 200px;
	max-height: 750px;
	padding: 120px 0 60px;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -4;
		content: '';
		background: $dark;
	}



	&:after {
		z-index: -4;
	}
	
	.h1, .h1xl {
		color: $pink;
		transform: rotate(-10deg);
		text-transform: uppercase;
	}
	
	.vimeo-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -3;
		pointer-events: none;
		overflow: hidden;
		opacity: 0;
		transition: .6s opacity cubic-bezier(.19, 1, .22, 1);

		iframe {
			width: 100vw;
			height: 56.25vw;
			/* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
			min-height: 100vh;
			min-width: 177.77vh;
			/* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.fill-space {
		position: absolute;
		top: 80px;
		left: 50%;
		right: -50%;
		bottom: 0;
		z-index: 1;
		opacity: 1;
		.bg-contain {
			background-position: center bottom;
		}
	}
	
	.container {
		z-index: 1;
	}
}

@include media-breakpoint-up(sm) {
	.pb-banner {
		min-height: 260px;
	}
}

@include media-breakpoint-up(md) {
	.pb-banner {
		height: 60vh;
		min-height: 600px;
		padding: 120px 0 60px;
		.fill-space {
			position: absolute;
			top: 80px;
			left: 50%;
			right: 0;
			bottom: 0;
			opacity: 1;
			.bg-contain {
				background-position: center bottom;
			}
		}
		
		&.toon-xl {
			height: 60vh;
			height: calc(var(--vh, 1vh) * 60);
		}
	}
}

@include media-breakpoint-up(lg) {
	.pb-banner {
		min-height: 720px;
		&.toon-xl {
			height: 70vh;
			height: calc(var(--vh, 1vh) * 70);
		}
	}
}

@include media-breakpoint-up(xl) {
	.pb-banner {
		min-height: 780px;
		padding: 140px 0 60px;
	}
}