.pb-blokken {
	padding: 0;
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
		max-width: 380px;
	}
	img.size-full {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0 0 10px 0;
	}
	.col-md.bg-cover {
		padding-top: 75%;
	}
	.kolom-space {
		padding: 60px 30px;
		margin: 0 auto;
	}
	.ruimte-om-afbeelding {
		.fill-space {
			top: 30px;
			left: 30px;
			right: 30px;
			bottom: 30px;
		}
	}
	.col-md:not(.bg-cover) {
		+ .col-md {
			.kolom-space {
				padding-top: 0;
			}
		}
	}
	> .row {
		z-index: 1;
		position: relative;
	}
}

/*
@include media-breakpoint-down(md) {
	.pb-blokken {
		.col-md.bg-cover {
			order: -1 !important;
		}
	}
}
*/

@include media-breakpoint-up(md) {
	.pb-blokken {
		.col-md.bg-cover {
			padding-top: 50%;
		}
		.kolom-space {
			padding: 100px 40px;
			max-width: 720px;
		}
		.col-md:not(.bg-cover) {
			+ .col-md {
				.kolom-space {
					padding: 80px 40px;
				}
			}
		}
		.ruimte-om-afbeelding {
			.fill-space {
				top: 50px;
				left: 50px;
				right: 50px;
				bottom: 50px;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.pb-blokken {
		img {
			width: 100%;
			max-width: 100%;
		}
		.col-md.bg-cover {
			padding: 0;
			min-height: 600px;
		}
		.kolom-space {
			padding: 140px 40px;
			max-width: 500px;
		}
		.col-md:not(.bg-cover) {
			+ .col-md {
				.kolom-space {
					padding: 80px 40px;
				}
			}
		}
	}
}