.mod-quote {
	position: relative;
	.item_bg {
		position: relative;
		img {
			position: absolute;
			top: -70px;
			left: -70px;
			transform: scale(.6);
		}
	}
	.slick-slide .item {
		transform: translateY(80px);
		transition: 2s all cubic-bezier(.19,1,.22,1);
	}
	.slick-slide.slick-active {
		.item {
			transform: translateY(0);
			transition: 1s all cubic-bezier(.19,1,.22,1);
		}
	}
}

@include media-breakpoint-up(md) {
	.mod-quote {
		.item_bg {
			img {
				top: -60px;
				left: -60px;
				transform: scale(1);
			}
		}
	}
}