@font-face {
    font-family: 'Takota';
    src: url('Takota.woff2') format('woff2'),
        url('Takota.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Korolev';
    src: url('Korolev-Heavy.woff2') format('woff2'),
        url('Korolev-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Korolev';
    src: url('Korolev-Medium.woff2') format('woff2'),
        url('Korolev-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Korolev';
    src: url('Korolev-Heavy.woff2') format('woff2'),
        url('Korolev-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Korolev';
    src: url('Korolev-Medium.woff2') format('woff2'),
        url('Korolev-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinzano';
    src: url('Sinzano-Regular.woff2') format('woff2'),
        url('Sinzano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

