.mb-30 {
	margin-bottom: 30px;
}

.bg-cover {
	background-size: cover;
	background-position: center center;
}

.bg-contain {
	background-size: contain;
	background-repeat: no-repeat;
}

.fill-space {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	.bg-cover, .bg-contain {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.ratio-3x4 {
	padding-top: 150%;
}

.ratio-4x3 {
	padding-top: 75%;
}

.ratio-16x9 {
	padding-top: 57%;
}

.text-end {
	p {
		margin: 0;
	}
}

.last-element-no-mb {
	>*:last-child {
		margin-bottom: 0;
	}
}