@keyframes flyover {
	0% {
		height: 0;
		top: 0;
	}
	40% {
		height: 100%;
		top: 0;
		bottom: 0;
	}
	60% {
		height: 100%;
		top: 0;
		bottom: 0;
	}
	100% {
		height: 0;
		bottom: 100vw;
	}
}

@keyframes flyin {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
main {
	transition: 1s $ease;
	filter: blur(0);
}

body {
	&:after {
		transition: opacity 1s $ease;
		transition-delay: 0s;
		content: '';
		z-index: 9;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		pointer-events: none;
		opacity: 0;
	}
}

.mod-mobilemenu {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: 1s $ease;
	opacity: 0;
	text-align: center;
	overflow-y: scroll;
	overflow: auto;
	padding: 100px 0 40px;
	.menucontent {
		margin: auto 0;
	}
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		content: '';
		z-index: -1;
		background: #fff;
		opacity: 0;
		transition: 1s $ease;
	}
	.nav-item.btn {
		width: auto;
		padding: 0;
		height: 50px;
		line-height: 48px;
		display: inline-block;
		margin: 30px auto 30px;
		&:hover, &:focus {
			.nav-link {
				color: $greendark;
			}
		}
		.nav-link {
			color: $greendark;
			font-size: 21px;
			margin: 0;
			display: inline-block;
			&:hover, &:focus {
				color: $greendark;
			}
		}
	}
	ul {
		li {
			display: block;
			width: 100%;
			opacity: 0;
			margin-bottom: 10px;
			a:not(.btn) {
				padding: 0;
				margin: 0;
				position: relative;
				display: block;
				transition: 0.4s $ease;
				&:hover, &:focus {
					color: $primary;
				}
			}
			&.current-lang {
				a {
					color: $primary;
				}
			}
		}
	}
}

body.opensidemenu {
	overflow: hidden;
	main {
		filter: blur(2px);
		transition: 0s $ease;
	}
	.mod-mobilemenu {
		opacity: 1;
		z-index: 99;
		transition: 0s $ease;
		nav {
		}
		.menucontent {
			opacity: 1;
		}
		&:after {
			transition: 1s $ease;
			bottom: 0;
			opacity: .95;
		}
		&:before {
			animation: flyover 1s $ease forwards;
		}
		ul {
			li {
				animation: flyin 1s $ease forwards;
				&:nth-child(1) {
					animation-delay: 0.1s;
				}
				&:nth-child(2) {
					animation-delay: 0.2s;
				}
				&:nth-child(3) {
					animation-delay: 0.3s;
				}
				&:nth-child(4) {
					animation-delay: 0.4s;
				}
				&:nth-child(5) {
					animation-delay: 0.5s;
				}
				&:nth-child(6) {
					animation-delay: 0.6s;
				}
				&:nth-child(7) {
					animation-delay: 0.7s;
				}
				&:nth-child(8) {
					animation-delay: 0.8s;
				}
				&:nth-child(9) {
					animation-delay: 0.9s;
				}
				&:nth-child(10) {
					animation-delay: 1s;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	body {
		&:after {
			display: none;
		}
		&.opensidemenu {
			.mod-mobilemenu {
				nav {
					padding-bottom: 0;
				}
			}
		}
	}
}
