section {
	padding: 60px 0;
}

section.bg-transparent + section.bg-transparent,
section.bg-white + section.bg-white,
section.bg-greylight + section.bg-greylight {
	padding-top: 0 !important;
}


@include media-breakpoint-up(md) {
	section {
		padding: 60px 0;
	}
}

@include media-breakpoint-up(lg) {
	section {
		padding: 70px 0;
	}
}

@include media-breakpoint-up(xl) {
	section {
		padding: 80px 0;
	}
}

@include media-breakpoint-up(xxl) {
	section {
		padding: 100px 0;
	}
}