.socialmedia {
	list-style-type: none;
	margin: 0;
	li {
		display: inline-block;
		margin: 0 5px 10px;
		a {
			transition: 0.6s $ease;
			color: #fff;
			font-size: 21px;
		}
	}
}

@include media-breakpoint-up(md) {
	.socialmedia {
		li {
			margin: 0 10px 10px 0;
		}
	}
}