<section id="section{{ sectionno }}" class="pb-afbeelding {{ item.achtergrond }} text-white">
	{% if item.afbeelding %}
		<div class="fill-space js-parallax">
			<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding).src }})">
			</div>
		</div>
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col-10 offset-2 col-md-8 offset-md-4 col-xl-6 offset-xl-6 text-end">
				{% if item.titel %}
					<h2 class="h1 altfont"> {{ item.titel }} </h2>
				{% endif %}
			</div>
		</div>
    </div>
</section>