<section id="statusbar" class="pb-statusbar text-white">
	<div class="container-fluid text-center">
		<p class="h2 text-uppercase mb-0"> <span class="value">{{ item.aandelen }}</span> geïnvesteerd door <span class="value">{{ item.deelnemers }}</span> investeerders en <span class="value">{{ item.aandelen_ronde_2 }}</span> gereserveerd voor ronde twee!</p>
	</div>
</section>