<section id="statusbar" class="pb-statusbar text-white">
	<div class="container-fluid text-center">
		<p class="h2 text-uppercase mb-0"> Voor <span class="value">{{ item.aandelen }}</span> aandelen gereserveerd door <span class="value">{{ item.deelnemers }}</span> deelnemers </p>
	</div>
</section>