{% extends "base.twig" %}

{% block content %}
	<section id="section" class="mod-404 bg-cover bg-dark text-white d-flex align-items-center" style="background-image: url({{ Image(options.p404_afbeelding).src }})">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 text-lg text-center">
					<br>
					<h2 class="text-center mb-2"> 404 </h2>
					<p class="lead mb-5">
						Deze pagina is niet gevonden..
					</p>
					<a class="btn btn-primary" href="{{ site.link }}">Terug naar home</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}