<footer id="footer" class="section text-center text-md-start" data-scroll-section>
  <div class="container-fluid container-lg">
    <div class="row">
      <div class="col">
        <img src="{{ Image(options.logo).src }}" alt="{{ Image(options.logo).alt }}">
      </div>
      {% if options.email %}
        <div class="col-auto d-flex align-items-center">
          <a href="mailto:{{ options.email }}" class="btn btn-sm btn-outline">Contact</a> 
        </div>
      {% endif %}
    </div>
  </div>
</footer>