<div class="mod-mobilemenu d-flex align-items-center d-lg-none">
	<div class="menucontent w-100">
		<div class="container">
			{% include "menu-mobilemenu.twig" with {'items': menu.get_items} %}
		</div>
	</div>
</div>