<section class="mod-content single-content content-knop bg-greylight" data-scroll-section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 text-center">
				{% if item.link %}
					<a class="btn btn-primary d-none d-md-inline-block" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>