<ul class="socialmedia">
	<li> <a href="{{ options.facebook.url }}" target="_blank"> <i class="fab fa-facebook-square"></i> </a> </li>
	<li> <a href="{{ options.linkedin.url }}" target="_blank"> <i class="fab fa-linkedin"></i> </a> </li>
	<li> <a href="{{ options.instagram.url }}" target="_blank"> <i class="fab fa-instagram"></i> </a> </li>
</ul>